@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<hr />
<p>
When forty winters shall besiege thy brow<br/>
And dig deep trenches in thy beauty’s field,<br/>
Thy youth’s proud livery, so gazed on now,<br/>
Will be a tattered weed, of small worth held.<br/>
</p>
<p>
Then being asked where all thy beauty lies—<br/>
Where all the treasure of thy lusty days—<br/>
To say within thine own deep-sunken eyes<br/>
Were an all-eating shame and thriftless praise.<br/>
</p>